<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>管理控制台</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <script type="text/javascript"
            src="asserts/js/jquery-1.11.2.min.js" th:src="@{/asserts/js/jquery-1.11.2.min.js}"></script>
    <!-- 引入js文件 -->
    <script src="asserts/layui/layui.all.js" th:src="@{/asserts/layui/layui.all.js}"></script>
    <script src="asserts/js/common.js"th:src="@{/asserts/js/common.js}"></script>
    <!-- 引入样式 -->
    <link href="asserts/layui/css/layui.css" th:href="@{/asserts/layui/css/layui.css}" rel="stylesheet">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:replace="commons/bar :: .layui-header"></div>

    <div th:replace="commons/bar :: #sidemenu(activeUrl='record')"></div>

    <div class="layui-body" style="padding:15px;">
        <!-- 内容主体区域 -->

        <table class="layui-table">
            <thead>
            <th>ID</th>
            <th>产品编号</th>
            <th>产品名称</th>
            <th>数量</th>
            <th>类型</th>
            <th>创建时间</th>
            <th>更新时间</th>
            </thead>
            <tbody >
            <tr th:each="rec:${recs}">
                <td th:text="${rec.id}"></td>
                <td th:text="${rec.pNumber}"></td>
                <td th:text="${rec.pName}"></td>
                <td th:text="${rec.amount}"></td>
                <td th:text="${rec.type}"></td>
                <td th:text="${rec.createTime}"></td>
                <td th:text="${rec.updateTime}"></td>
            </tr>
            </tbody>
        </table>


    </div>

    <div th:replace="commons/bar :: .layui-footer"></div>

</div>

<script>
    $(function () {
        // var prods="${prods}";
        // console.log(prods);
    })

    $(".btnDelete").on('click',function () {
        $("#form_del").attr("action",$(this).attr("delUrl")).submit()
        return false
    })

</script>


</body>
</html>